.card{
    transition:  transform .2s;
}
.card:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  button{
    transition: transform .2s;
  }
  
  button:hover{
    transform: scale(1.05);
  }