.card {
    transition: all 0.3s;
}
.card:hover{
    transform: scale(1.05);
}

.card-img-top{
width: 100%;
height: 25vw;
object-fit: cover;
}




    

blockquote{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

  body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
  
  }



span{
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

h1{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #0064AC;
}

a{
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

p{
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

blockquote{
  font-family: "Lato", sans-serif;
  font-weight: 400;
}


