.Gallery img{
    width: 90px;
        margin-left: 15px;
        margin-bottom: 25px;
    border-radius: 10px;
    background-color: #eeeeee;
    border-bottom: 2px solid #cccccc;
    border-left: 2px solid #cccccc;
    border-right: 2px solid #cccccc;;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 3em;
}

h5 {
	font-size: 5em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	color: transparent;
	-webkit-text-stroke: 1px #213341;
	text-shadow: 0 0 0 #f5eeee;
	transition: all 250ms;
}

h5:hover {
	text-shadow: 4px 4px 0 #5bc3ff;
	transform: translate(-2px, -2px)
}

a{
    font-family: "Lato", sans-serif;
    font-weight: 500;
  }