a{
    font-family: "Lato", sans-serif;
    font-weight: 500;
  }
  
  p{
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }
  
  blockquote{
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }

  span{
    font-family: "Lato", sans-serif;
    font-weight: 900;
    
  }

  h5{
    font-family: "Lato", sans-serif;
    font-weight: 700;
  }
  h4{
    font-family: "Lato", sans-serif;
    font-weight: 250;
  }
  .card {
    transition: all 0.3s;
}
h1{
    font-family: "Lato", sans-serif;
    font-weight: 700;
   text-align: center; 

}
.card:hover{
    transform: scale(1.05);
}

.card-img-top{
width: 100%;
height: 25vw;
object-fit: cover;
}

#butono{
    transition: 0.5s;

}

#butono:hover{
    transform: scale(1.05);
}
